{
  "log": {
    "_recordingName": "should search pulls",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "46f7d74a138e3ecf668b2c9aa5b9cba2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token ghp_token"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"query dashboard($search: String!, $limit: Int!) {\\n      search(query: $search, type: ISSUE, first: $limit) {\\n        issueCount\\n        edges {\\n          node {\\n            ... on PullRequest {\\n              id\\n              number\\n              title\\n              author {\\n                __typename\\n                ... on Bot {\\n                  id\\n                  login\\n                  avatarUrl\\n                }\\n                ... on Mannequin {\\n                  id\\n                  login\\n                  avatarUrl\\n                }\\n                ... on User {\\n                  id\\n                  login\\n                  name\\n                  avatarUrl\\n                }\\n              }\\n              statusCheckRollup {\\n                state\\n              }\\n              repository {\\n                nameWithOwner\\n              }\\n              createdAt\\n              updatedAt\\n              state\\n              url\\n              isDraft\\n              closed\\n              merged\\n              reviewDecision\\n              additions\\n              deletions\\n            }\\n          }\\n        }\\n      }\\n      rateLimit {\\n        cost\\n      }\\n    }\",\"variables\":{\"search\":\"repo:netflix/dispatch Database Connection Decorators Signal Processing Improvements in:title type:pr archived:false\",\"limit\":5}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 745,
            "text": "{\"data\":{\"search\":{\"issueCount\":1,\"edges\":[{\"node\":{\"id\":\"PR_kwDODkeKwM6M3P7g\",\"number\":5790,\"title\":\"Database Connection, Decorators, and Signal Processing Improvements\",\"author\":{\"__typename\":\"User\",\"id\":\"MDQ6VXNlcjM5NTczMTQ2\",\"login\":\"mvilanova\",\"name\":\"Marc Vilanova\",\"avatarUrl\":\"https://avatars.githubusercontent.com/u/39573146?u=f3825b8f4bad2607ee35142ede481d3282f0ea8b&v=4\"},\"statusCheckRollup\":{\"state\":\"SUCCESS\"},\"repository\":{\"nameWithOwner\":\"Netflix/dispatch\"},\"createdAt\":\"2025-02-27T22:17:29Z\",\"updatedAt\":\"2025-02-28T01:05:46Z\",\"state\":\"MERGED\",\"url\":\"https://github.com/Netflix/dispatch/pull/5790\",\"isDraft\":false,\"closed\":true,\"merged\":true,\"reviewDecision\":\"APPROVED\",\"additions\":168,\"deletions\":87}}]},\"rateLimit\":{\"cost\":1}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": "repo"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-oauth-scopes",
              "value": "read:org, repo, user"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4940"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1745851205"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "graphql"
            },
            {
              "name": "x-ratelimit-used",
              "value": "60"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 592,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
