{
  "log": {
    "_recordingName": "should search pulls",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6f046e17045f788ed9210bad49b43ec0",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token ghp_token"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json; charset=utf-8",
            "params": [],
            "text": "{\"query\":\"query dashboard($search: String!, $limit: Int!) {\\n      search(query: $search, type: ISSUE, first: $limit) {\\n        issueCount\\n        edges {\\n          node {\\n            ... on PullRequest {\\n              id\\n              number\\n              title\\n              body\\n              author {\\n                __typename\\n                ... on Bot {\\n                  id\\n                  login\\n                  avatarUrl\\n                }\\n                ... on Mannequin {\\n                  id\\n                  login\\n                  avatarUrl\\n                }\\n                ... on User {\\n                  id\\n                  login\\n                  name\\n                  avatarUrl\\n                }\\n              }\\n              statusCheckRollup {\\n                state\\n              }\\n              repository {\\n                nameWithOwner\\n              }\\n              createdAt\\n              updatedAt\\n              state\\n              url\\n              isDraft\\n              closed\\n              merged\\n              reviewDecision\\n              additions\\n              deletions\\n            }\\n          }\\n        }\\n      }\\n      rateLimit {\\n        cost\\n      }\\n    }\",\"variables\":{\"search\":\"repo:netflix/dispatch Database Connection Decorators Signal Processing Improvements in:title type:pr archived:false\",\"limit\":5}}"
          },
          "queryString": [],
          "url": "https://api.github.com/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 98,
            "text": "{\"message\":\"Bad credentials\",\"documentation_url\":\"https://docs.github.com/graphql\",\"status\":\"401\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "0"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "0"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1745863837"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "graphql"
            },
            {
              "name": "x-ratelimit-used",
              "value": "0"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 242,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
