@use "@blueprintjs/core/lib/scss/variables" as bp;

.container {
  margin-bottom: 1rem;
}

.right {
  display: flex;
  gap: bp.$pt-grid-size;
  align-items: center;
}

.refreshed {
  color: bp.$pt-text-color-muted;
}
