{
  "log": {
    "_recordingName": "should return user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "94677cee0ec2eb7593d3e7906e894a93",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "token ghp_token"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.github.com/user"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1458,
            "text": "{\"login\":\"pvcnt\",\"id\":944506,\"node_id\":\"MDQ6VXNlcjk0NDUwNg==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/944506?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/pvcnt\",\"html_url\":\"https://github.com/pvcnt\",\"followers_url\":\"https://api.github.com/users/pvcnt/followers\",\"following_url\":\"https://api.github.com/users/pvcnt/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/pvcnt/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/pvcnt/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/pvcnt/subscriptions\",\"organizations_url\":\"https://api.github.com/users/pvcnt/orgs\",\"repos_url\":\"https://api.github.com/users/pvcnt/repos\",\"events_url\":\"https://api.github.com/users/pvcnt/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/pvcnt/received_events\",\"type\":\"User\",\"user_view_type\":\"private\",\"site_admin\":false,\"name\":\"Vincent Primault\",\"company\":\"Salesforce\",\"blog\":\"\",\"location\":\"Grenoble, France\",\"email\":null,\"hireable\":null,\"bio\":\"Software Engineer at Salesforce\",\"twitter_username\":null,\"notification_email\":null,\"public_repos\":20,\"public_gists\":1,\"followers\":10,\"following\":2,\"created_at\":\"2011-07-28T13:51:46Z\",\"updated_at\":\"2025-04-09T15:16:00Z\",\"private_gists\":0,\"total_private_repos\":18,\"owned_private_repos\":18,\"disk_usage\":231539,\"collaborators\":6,\"two_factor_authentication\":true,\"plan\":{\"name\":\"free\",\"space\":976562499,\"collaborators\":0,\"private_repos\":10000}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"aa58ce0a804b9fd57c5253f81b122e49c89aff9ae12de62e3062a110aa0979e0\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 09 Apr 2025 15:16:00 GMT"
            },
            {
              "name": "x-accepted-oauth-scopes",
              "value": ""
            },
            {
              "name": "x-github-api-version-selected",
              "value": "2022-11-28"
            },
            {
              "name": "x-github-media-type",
              "value": "github.v3; format=json"
            },
            {
              "name": "x-oauth-scopes",
              "value": "read:org, repo, user"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4965"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "1744297690"
            },
            {
              "name": "x-ratelimit-resource",
              "value": "core"
            },
            {
              "name": "x-ratelimit-used",
              "value": "35"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 241,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
